/* *********** *
 * Content CSS *
 * *********** */

/* Content Container */ 
.spmr_content {
	color: #ccddff;
}

/* Content Section for project */
.spmr_content > div#project {
	background-color: #4d79ff;
}
/* Content Section for features */
.spmr_content > div#features {
	background-color: #1a53ff;
}
/* Content Section for developers */
.spmr_content > div#developers {
	background-color: #0039e6;
}

/* Content Information in Each Row */
.spmr_content > .spmr_content_section > div {
	width: 85%;
	margin: 0 auto;
}
.spmr_content > .spmr_content_section > div > div {
	padding-top: 10%;
	padding-bottom: 10%;
	padding-left: 0%;
	padding-right: 0%;
}

/* Content Information for project */
div#projectContent > div#projectInfo {
	font-size: 20px;
}
div#projectContent > div#projectImg {
}
div#projectContent > div#projectImg > img {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

/* Content Information for features */
div#featuresContent > div#featuresInfo{
	font-size: 20px;
}
/* Content Information for developers */
div#developersContent > div#developersInfo{
	font-size: 20px;
}

.vertical_center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
